@font-face {
  font-family: 'construct';
  src:  url('../fonts/construct_icon/icomoon.eot?b5gb8g');
  src:  url('../fonts/construct_icon/icomoon.eot?b5gb8g#iefix') format('embedded-opentype'),
    url('../fonts/construct_icon/icomoon.ttf?b5gb8g') format('truetype'),
    url('../fonts/construct_icon/icomoon.woff?b5gb8g') format('woff'),
    url('../fonts/construct_icon/icomoon.svg?b5gb8g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'construct';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-01:before {
  content: "\e900";
}
.icon-ic-02:before {
  content: "\e901";
}
.icon-ic-03:before {
  content: "\e902";
}
.icon-ic-04:before {
  content: "\e903";
}
.icon-ic-05:before {
  content: "\e904";
}
.icon-ic-06:before {
  content: "\e905";
}
.icon-ic-07:before {
  content: "\e906";
}
.icon-ic-08:before {
  content: "\e907";
}
.icon-ic-09:before {
  content: "\e908";
}
.icon-ic-10:before {
  content: "\e909";
}
.icon-ic-11:before {
  content: "\e90a";
}
.icon-ic-12:before {
  content: "\e90b";
}
.icon-ic-13:before {
  content: "\e90c";
}
.icon-ic-14:before {
  content: "\e90d";
}
.icon-ic-15:before {
  content: "\e90e";
}
.icon-ic-16:before {
  content: "\e90f";
}
.icon-ic-17:before {
  content: "\e910";
}
.icon-ic-18:before {
  content: "\e911";
}
.icon-ic-19:before {
  content: "\e912";
}
.icon-ic-20:before {
  content: "\e913";
}
.icon-ic-21:before {
  content: "\e914";
}
.icon-ic-22:before {
  content: "\e915";
}
.icon-ic-23:before {
  content: "\e916";
}
.icon-ic-24:before {
  content: "\e917";
}
.icon-ic-25:before {
  content: "\e918";
}
.icon-ic-26:before {
  content: "\e919";
}
.icon-ic-27:before {
  content: "\e91a";
}
.icon-ic-28:before {
  content: "\e91b";
}
.icon-ic-29:before {
  content: "\e91c";
}
.icon-ic-30:before {
  content: "\e91d";
}
.icon-ic-31:before {
  content: "\e91e";
}
.icon-ic-32:before {
  content: "\e91f";
}
.icon-ic-33:before {
  content: "\e920";
}
.icon-ic-34:before {
  content: "\e921";
}
.icon-ic-35:before {
  content: "\e922";
}
.icon-ic-36:before {
  content: "\e923";
}
.icon-ic-37:before {
  content: "\e924";
}
.icon-ic-38:before {
  content: "\e925";
}
.icon-ic-39:before {
  content: "\e926";
}
.icon-ic-40:before {
  content: "\e927";
}
.icon-ic-41:before {
  content: "\e928";
}
.icon-ic-42:before {
  content: "\e929";
}
.icon-ic-43:before {
  content: "\e92a";
}
.icon-ic-44:before {
  content: "\e92b";
}
.icon-ic-45:before {
  content: "\e92c";
}
.icon-ic-46:before {
  content: "\e92d";
}
.icon-ic-47:before {
  content: "\e92e";
}
.icon-ic-48:before {
  content: "\e92f";
}
.icon-ic-49:before {
  content: "\e930";
}
.icon-ic-50:before {
  content: "\e931";
}
.icon-ic-51:before {
  content: "\e932";
}
.icon-ic-52:before {
  content: "\e933";
}
.icon-ic-53:before {
  content: "\e934";
}
.icon-ic-54:before {
  content: "\e935";
}
.icon-ic-55:before {
  content: "\e936";
}
.icon-ic-56:before {
  content: "\e937";
}
.icon-ic-57:before {
  content: "\e938";
}
.icon-ic-58:before {
  content: "\e939";
}
.icon-ic-59:before {
  content: "\e93a";
}
.icon-ic-60:before {
  content: "\e93b";
}
.icon-ic-61:before {
  content: "\e93c";
}
.icon-ic-62:before {
  content: "\e93d";
}
.icon-ic-63:before {
  content: "\e93e";
}
.icon-ic-64:before {
  content: "\e93f";
}
.icon-ic-65:before {
  content: "\e940";
}
.icon-ic-66:before {
  content: "\e941";
}
.icon-ic-67:before {
  content: "\e942";
}
.icon-ic-68:before {
  content: "\e943";
}
.icon-ic-69:before {
  content: "\e944";
}
.icon-ic-70:before {
  content: "\e945";
}
.icon-ic-71:before {
  content: "\e946";
}
.icon-ic-72:before {
  content: "\e947";
}
.icon-ic-73:before {
  content: "\e948";
}
.icon-ic-74:before {
  content: "\e949";
}
.icon-ic-75:before {
  content: "\e94a";
}
.icon-ic-76:before {
  content: "\e94b";
}
.icon-ic-77:before {
  content: "\e94c";
}
.icon-ic-78:before {
  content: "\e94d";
}
.icon-ic-79:before {
  content: "\e94e";
}
.icon-ic-80:before {
  content: "\e94f";
}
.icon-ic-81:before {
  content: "\e950";
}
.icon-ic-82:before {
  content: "\e951";
}
.icon-ic-83:before {
  content: "\e952";
}
.icon-ic-84:before {
  content: "\e953";
}
.icon-ic-85:before {
  content: "\e954";
}
.icon-ic-86:before {
  content: "\e955";
}
.icon-ic-87:before {
  content: "\e956";
}