.custom-menu-type,
.custom-post-type-detailed,
.custom-post-type-detailed-text,
.custom-sub-text {
	display: none;
}
.menu-item-depth-0 .custom-menu-type,
.menu-item-depth-0 .custom-sub-text {
	display: block;
}