.block-editor__container .editor-styles-wrapper {
  --light-color: #fff;
  --dark-color: #262626;
  --grey-color: #777;
  --main-color: #ff5e14;
  --light-grey-color: #f7f7f7;
  line-height: normal;
  --font1: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--dark-color);
  position: relative;
  background: var(--light-grey-color);
  letter-spacing: 0.5px; }
  .block-editor__container .editor-styles-wrapper *:not(.mce-ico) {
    font-family: var(--font1);
    -webkit-font-smoothing: antialiased; }

.editor-writing-flow > div > div {
  max-width: calc(100% - 30px);
  width: 1218px; }

@media (min-width: 576px) {
  .wp-block,
  .wp-block[data-align=wide] {
    max-width: 540px; } }
@media (min-width: 768px) {
  .wp-block,
  .wp-block[data-align=wide] {
    max-width: 748px; } }
@media (min-width: 992px) {
  .wp-block,
  .wp-block[data-align=wide] {
    max-width: 988px; } }
@media (min-width: 1200px) {
  .wp-block,
  .wp-block[data-align=wide] {
    max-width: 1168px; } }
.editor-block-list__layout .editor-block-list__block[data-align=full] {
  margin-right: auto;
  margin-left: auto; }

.editor-block-list__layout .editor-block-list__block[data-align=full] {
  max-width: calc(100% - 30px); }

@media (min-width: 576px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] {
    max-width: 540px; } }
@media (min-width: 768px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] {
    max-width: 720px; } }
@media (min-width: 992px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .editor-block-list__layout .editor-block-list__block[data-align=full] {
    max-width: 1140px; } }
.editor-block-list__block[data-type="core/button"][data-align=center] {
  clear: both; }

.wp-block-button__link {
  color: inherit !important;
  font-weight: 500;
  font-size: 16px; }

.editor-writing-flow > div > div {
  background: var(--light-color);
  padding: 30px 30px 20px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (max-width: 767px) {
    .editor-writing-flow > div > div {
      padding: 20px 30px;
      max-width: 100%; } }

.editor-post-title,
.editor-block-list__layout {
  padding: 0; }

.edit-post-visual-editor .editor-post-title {
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 20px; }
  .edit-post-visual-editor .editor-post-title .editor-post-title__input {
    color: var(--dark-color);
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding: 15px 14px; }
    @media only screen and (max-width: 769px) {
      .edit-post-visual-editor .editor-post-title .editor-post-title__input {
        font-size: 40px;
        line-height: 50px; } }
    @media only screen and (max-width: 425px) {
      .edit-post-visual-editor .editor-post-title .editor-post-title__input {
        font-size: 28px;
        line-height: 36px; } }

.editor-styles-wrapper .wp-block-gallery .blocks-gallery-image figcaption,
.editor-styles-wrapper .wp-block-gallery .blocks-gallery-item figcaption {
  font-size: 13px;
  line-height: 2;
  margin-top: 16px;
  text-align: center;
  font-weight: 400; }
.editor-styles-wrapper .wp-block-pullquote {
  padding: 0;
  border: 0;
  border-color: #555d66;
  color: var(--grey-color); }
  .editor-styles-wrapper .wp-block-pullquote blockquote {
    text-align: center;
    border: 1px solid #e5e5e5;
    border-left: 3px solid;
    border-left-color: inherit;
    padding: 20px !important;
    margin-right: auto;
    margin-left: auto; }
    .editor-styles-wrapper .wp-block-pullquote blockquote.has-text-color * {
      color: inherit !important; }
  .editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
    background: inherit;
    border: none; }
    .editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote.has-text-color * {
      color: inherit !important; }
.editor-styles-wrapper blockquote {
  margin: 20px auto; }
.editor-styles-wrapper .wp-block p:not(.wp-block-cover-text) {
  color: var(--grey-color);
  line-height: 1.8;
  padding-left: 0;
  margin: 30px 0;
  font-size: 16px; }
  .editor-styles-wrapper .wp-block p:not(.wp-block-cover-text).has-background {
    padding: 20px 30px; }
  @media only screen and (max-width: 769px) {
    .editor-styles-wrapper .wp-block p:not(.wp-block-cover-text) {
      margin: 20px 0; } }
.editor-styles-wrapper .wp-block-cover__inner-container {
  width: calc(100% - 30px); }
  .editor-styles-wrapper .wp-block-cover__inner-container p {
    color: var(--light-color) !important;
    font-size: 32px !important;
    line-height: 1.25 !important;
    z-index: 1;
    margin-bottom: 0;
    text-align: center; }
    .editor-styles-wrapper .wp-block-cover__inner-container p a {
      font-weight: 500;
      text-decoration: none;
      color: var(--light-color); }
.editor-styles-wrapper .wp-block ul {
  list-style: circle; }
.editor-styles-wrapper .wp-block ol,
.editor-styles-wrapper .wp-block ul {
  padding: 0 0 0 35px;
  margin-bottom: 30px; }
  .editor-styles-wrapper .wp-block ol li,
  .editor-styles-wrapper .wp-block ul li {
    line-height: 2;
    font-size: 16px;
    letter-spacing: 0.5px; }
  .editor-styles-wrapper .wp-block ol ol, .editor-styles-wrapper .wp-block ol ul,
  .editor-styles-wrapper .wp-block ul ol,
  .editor-styles-wrapper .wp-block ul ul {
    margin-bottom: 0; }
  .editor-styles-wrapper .wp-block ol a,
  .editor-styles-wrapper .wp-block ul a {
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease; }
    .editor-styles-wrapper .wp-block ol a:hover,
    .editor-styles-wrapper .wp-block ul a:hover {
      color: var(--grey-color); }
.editor-styles-wrapper .wp-block-latest-posts {
  padding-left: 0 !important; }
  .editor-styles-wrapper .wp-block-latest-posts li {
    list-style: none;
    margin-bottom: 20px; }
    .editor-styles-wrapper .wp-block-latest-posts li time {
      display: block;
      font-size: 13.5px;
      color: var(--dark-color);
      font-weight: 500;
      margin-top: 0; }
  .editor-styles-wrapper .wp-block-latest-posts.is-grid {
    align-items: baseline;
    margin-left: 0; }
.editor-styles-wrapper .wp-block-latest-comments {
  padding-left: 0 !important; }
  .editor-styles-wrapper .wp-block-latest-comments p {
    margin: 10px 0 !important; }
  .editor-styles-wrapper .wp-block-latest-comments li {
    padding-left: 0;
    margin-bottom: 20px; }
    .editor-styles-wrapper .wp-block-latest-comments li:last-of-type {
      margin-bottom: 0; }
  .editor-styles-wrapper .wp-block-latest-comments__comment {
    line-height: 1.6 !important; }
  .editor-styles-wrapper .wp-block-latest-comments__comment-meta {
    font-size: 16px; }
  .editor-styles-wrapper .wp-block-latest-comments__comment-date {
    display: block;
    font-size: 13.5px;
    color: var(--dark-color);
    font-weight: 500;
    margin-top: 11px; }
.editor-styles-wrapper .wp-block-separator:not(.is-style-dots) {
  border: none;
  border-bottom: 2px solid #8f98a1;
  margin: 1.65em auto; }
.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
  border: none;
  border-bottom: 2px solid #8f98a1;
  margin: 1.65em auto; }
.editor-styles-wrapper .wp-block select {
  vertical-align: middle;
  font-size: 16px;
  min-width: 100%;
  margin-bottom: 15px;
  border: none;
  background: var(--light-color);
  color: var(--grey-color);
  border: 0;
  outline: 1px solid #ddd !important;
  max-height: calc(1.2em + 17px);
  height: calc(1.2em + 17px);
  padding: 6px 10px 5px;
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23dddddd'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) 16px;
  background-repeat: no-repeat;
  max-width: 100%; }
  .editor-styles-wrapper .wp-block select:focus {
    outline-offset: 0 !important; }
  @media only screen and (max-width: 767px) {
    .editor-styles-wrapper .wp-block select {
      margin-bottom: 10px; } }
.editor-styles-wrapper .wp-block ul,
.editor-styles-wrapper .wp-block ol {
  color: var(--grey-color);
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 17px;
  margin-left: 0; }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote .wp-block-quote__citation,
.editor-styles-wrapper .wp-block-quote cite,
.editor-styles-wrapper .wp-block-quote .wp-block-quote__citation {
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  display: block;
  text-align: right;
  margin-top: 15px; }
.editor-styles-wrapper .wp-block-shortcode textarea {
  color: var(--grey-color);
  line-height: 1.7;
  font-size: 15px; }
.editor-styles-wrapper .wp-block-image > div:first-of-type {
  line-height: 1; }
.editor-styles-wrapper .wp-block-embed figcaption,
.editor-styles-wrapper .wp-block-video figcaption,
.editor-styles-wrapper .wp-block-image figcaption {
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 13px;
  line-height: 23px;
  color: var(--grey-color); }
  .editor-styles-wrapper .wp-block-embed figcaption a,
  .editor-styles-wrapper .wp-block-video figcaption a,
  .editor-styles-wrapper .wp-block-image figcaption a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500; }
    .editor-styles-wrapper .wp-block-embed figcaption a:hover,
    .editor-styles-wrapper .wp-block-video figcaption a:hover,
    .editor-styles-wrapper .wp-block-image figcaption a:hover {
      color: var(--grey-color); }
.editor-styles-wrapper strong, .editor-styles-wrapper b {
  color: var(--dark-color);
  font-weight: 700; }
.editor-styles-wrapper p.wp-block-cover-text {
  line-height: 1.6;
  color: var(--light-color) !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px !important;
  letter-spacing: 2px; }
  .editor-styles-wrapper p.wp-block-cover-text * {
    color: inherit !important; }
  .editor-styles-wrapper p.wp-block-cover-text a {
    text-decoration: none;
    font-weight: 700 !important;
    color: var(--light-color) !important;
    -webkit-transition: all 450ms ease;
    -moz-transition: all 450ms ease;
    -ms-transition: all 450ms ease;
    -o-transition: all 450ms ease;
    transition: all 450ms ease; }
    .editor-styles-wrapper p.wp-block-cover-text a:hover {
      opacity: 0.7; }
.editor-styles-wrapper .wp-block-file__textlink {
  -webkit-transition: all 450ms ease;
  -moz-transition: all 450ms ease;
  -ms-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  transition: all 450ms ease; }
  .editor-styles-wrapper .wp-block-file__textlink:hover {
    color: var(--grey-color); }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote,
.editor-styles-wrapper .wp-block .wp-block-quote {
  font-style: italic;
  font-weight: normal;
  padding: 20px !important;
  border: 1px solid #e5e5e5;
  border-left: 3px solid #ff5e14;
  margin: 20px 0 !important;
  background: #fff;
  font-size: 16px;
  line-height: 1.43; }
  .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote a,
  .editor-styles-wrapper .wp-block .wp-block-quote a {
    font-weight: 500;
    color: var(--main-color);
    text-decoration: none;
    transition: all 250ms ease; }
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote a:hover,
    .editor-styles-wrapper .wp-block .wp-block-quote a:hover {
      color: var(--grey-color); }
  .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote.is-large, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large,
  .editor-styles-wrapper .wp-block .wp-block-quote.is-large,
  .editor-styles-wrapper .wp-block .wp-block-quote.is-style-large {
    font-size: 24px;
    line-height: 1.6; }
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote.is-large .wp-block-quote__citation,
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote.is-large cite, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large .wp-block-quote__citation,
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large cite,
    .editor-styles-wrapper .wp-block .wp-block-quote.is-large .wp-block-quote__citation,
    .editor-styles-wrapper .wp-block .wp-block-quote.is-large cite,
    .editor-styles-wrapper .wp-block .wp-block-quote.is-style-large .wp-block-quote__citation,
    .editor-styles-wrapper .wp-block .wp-block-quote.is-style-large cite {
      font-size: 16px; }
  @media (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote,
    .editor-styles-wrapper .wp-block .wp-block-quote {
      margin: 15px 0;
      padding: 15px; } }
  .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote p,
  .editor-styles-wrapper .wp-block .wp-block-quote p {
    margin: 0;
    font-size: inherit !important;
    line-height: inherit !important; }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote p,
.editor-styles-wrapper .wp-block .wp-block-pullquote div p {
  font-size: 28px;
  line-height: 1.6;
  font-style: italic;
  font-weight: 400;
  color: inherit !important;
  margin: 0; }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
.editor-styles-wrapper .wp-block .wp-block-pullquote div .wp-block-pullquote__citation {
  color: var(--grey-color);
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  font-style: italic; }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
  text-align: right; }
  .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote cite a {
    color: var(--main-color) !important; }
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce blockquote cite a:hover {
      color: var(--grey-color) !important; }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6,
.editor-styles-wrapper .wp-block-heading h1,
.editor-styles-wrapper .wp-block-heading h2,
.editor-styles-wrapper .wp-block-heading h3,
.editor-styles-wrapper .wp-block-heading h4,
.editor-styles-wrapper .wp-block-heading h5,
.editor-styles-wrapper .wp-block-heading h6 {
  color: var(--dark-color);
  margin: 30px 0;
  font-weight: 400; }
  @media only screen and (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5, .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6,
    .editor-styles-wrapper .wp-block-heading h1,
    .editor-styles-wrapper .wp-block-heading h2,
    .editor-styles-wrapper .wp-block-heading h3,
    .editor-styles-wrapper .wp-block-heading h4,
    .editor-styles-wrapper .wp-block-heading h5,
    .editor-styles-wrapper .wp-block-heading h6 {
      margin: 20px 0; } }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
.editor-styles-wrapper .wp-block-heading h1 {
  font-size: 30px;
  line-height: 36px; }
  @media (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h1,
    .editor-styles-wrapper .wp-block-heading h1 {
      font-size: 26px;
      line-height: 32px; } }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
.editor-styles-wrapper .wp-block-heading h2 {
  font-size: 28px;
  line-height: 34px; }
  @media (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h2,
    .editor-styles-wrapper .wp-block-heading h2 {
      font-size: 24px;
      line-height: 30px; } }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3,
.editor-styles-wrapper .wp-block-heading h3 {
  font-size: 26px;
  line-height: 32px; }
  @media (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h3,
    .editor-styles-wrapper .wp-block-heading h3 {
      font-size: 22px;
      line-height: 28px; } }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4,
.editor-styles-wrapper .wp-block-heading h4 {
  font-size: 24px;
  line-height: 30px; }
  @media (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h4,
    .editor-styles-wrapper .wp-block-heading h4 {
      font-size: 20px;
      line-height: 26px; } }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5,
.editor-styles-wrapper .wp-block-heading h5 {
  font-size: 22px;
  line-height: 28px; }
  @media (max-width: 769px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h5,
    .editor-styles-wrapper .wp-block-heading h5 {
      font-size: 18px;
      line-height: 24px; } }
.editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6,
.editor-styles-wrapper .wp-block-heading h6 {
  font-size: 19px;
  line-height: 25px; }
  @media (max-width: 768px) {
    .editor-styles-wrapper .wp-block-freeform.block-library-rich-text__tinymce h6,
    .editor-styles-wrapper .wp-block-heading h6 {
      font-size: 15px;
      line-height: 21px; } }
.editor-styles-wrapper .wp-block-file .wp-block-file__button {
  display: inline-block;
  color: var(--light-color);
  font-size: 13px;
  font-weight: 500 !important;
  padding: 3px 13px;
  line-height: 23px; }
  .editor-styles-wrapper .wp-block-file .wp-block-file__button:hover, .editor-styles-wrapper .wp-block-file .wp-block-file__button:focus {
    color: var(--light-color) !important; }
.editor-styles-wrapper .wp-block-file__textlink {
  font-weight: 500;
  font-size: 16px;
  color: var(--main-color);
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease; }
  .editor-styles-wrapper .wp-block-file__textlink:hover {
    color: var(--grey-color); }
.editor-styles-wrapper .wp-block-code {
  font-size: 15px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0 0 10px; }
  .editor-styles-wrapper .wp-block-code textarea {
    background-color: #fff;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-family: Hack, Courier, monospace !important;
    font-size: 14px;
    color: var(--grey-color);
    line-height: 19px;
    white-space: pre-wrap;
    max-width: 100%; }
.editor-styles-wrapper .wp-block-html textarea {
  border: none;
  padding: 0; }
.editor-styles-wrapper .wp-block pre {
  background-color: #fff;
  margin-bottom: 20px;
  overflow: auto;
  padding: 20px;
  border: 1px solid #e5e5e5;
  font-family: Hack, Courier, monospace !important;
  font-size: 14px;
  color: var(--grey-color);
  line-height: 19px;
  white-space: pre-wrap;
  max-width: 100%; }
  .editor-styles-wrapper .wp-block pre.wp-block-verse {
    white-space: nowrap; }
.editor-styles-wrapper .wp-block-table {
  color: var(--grey-color);
  border-collapse: collapse;
  font-size: 17px;
  border-color: var(--dark-color) !important; }
  .editor-styles-wrapper .wp-block-table.is-style-stripes tr:nth-child(odd) {
    background: #f3f4f5; }
  .editor-styles-wrapper .wp-block-table.is-style-stripes tr:nth-child(even) {
    background: #fafafa; }
  .editor-styles-wrapper .wp-block-table.is-style-stripes th, .editor-styles-wrapper .wp-block-table.is-style-stripes tr, .editor-styles-wrapper .wp-block-table.is-style-stripes td, .editor-styles-wrapper .wp-block-table.is-style-stripes {
    border: none; }
  .editor-styles-wrapper .wp-block-table th, .editor-styles-wrapper .wp-block-table td {
    padding: 8px 14px;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 23px;
    border-color: #e5e5e5 !important; }
    .editor-styles-wrapper .wp-block-table th *, .editor-styles-wrapper .wp-block-table td * {
      padding: 0; }
  .editor-styles-wrapper .wp-block-table tr:nth-child(even) {
    background: #fafafa; }

.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul {
  padding-left: 1.5em; }

.block-editor .wp-block-latest-posts.is-grid,
.block-editor .wp-block-latest-posts {
  padding-left: 0; }
  .block-editor .wp-block-latest-posts.is-grid li,
  .block-editor .wp-block-latest-posts li {
    padding-left: 0; }

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption a {
  display: inline-block; }

.wp-block-freeform.block-library-rich-text__tinymce {
  font-size: 16px; }
  .wp-block-freeform.block-library-rich-text__tinymce a {
    color: var(--main-color);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    text-decoration: none;
    font-weight: 500;
    font-size: inherit; }
    .wp-block-freeform.block-library-rich-text__tinymce a:hover {
      color: var(--grey-color); }
  .wp-block-freeform.block-library-rich-text__tinymce td a {
    font-weight: 500; }
  .wp-block-freeform.block-library-rich-text__tinymce code {
    background-color: #d1d1d1;
    color: var(--dark-color);
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px; }
  .wp-block-freeform.block-library-rich-text__tinymce h1,
  .wp-block-freeform.block-library-rich-text__tinymce h2,
  .wp-block-freeform.block-library-rich-text__tinymce h3,
  .wp-block-freeform.block-library-rich-text__tinymce h4,
  .wp-block-freeform.block-library-rich-text__tinymce h5,
  .wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-weight: 700;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    line-height: 1.375;
    clear: both;
    color: var(--dark-color); }
  .wp-block-freeform.block-library-rich-text__tinymce h4,
  .wp-block-freeform.block-library-rich-text__tinymce h5,
  .wp-block-freeform.block-library-rich-text__tinymce h6 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .wp-block-freeform.block-library-rich-text__tinymce table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 30px;
    width: 100%;
    word-break: break-word;
    text-align: left; }
  .wp-block-freeform.block-library-rich-text__tinymce dt {
    font-weight: 700; }
  .wp-block-freeform.block-library-rich-text__tinymce table,
  .wp-block-freeform.block-library-rich-text__tinymce th,
  .wp-block-freeform.block-library-rich-text__tinymce table td,
  .wp-block-freeform.block-library-rich-text__tinymce td {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    line-height: 23px; }
    .wp-block-freeform.block-library-rich-text__tinymce table a,
    .wp-block-freeform.block-library-rich-text__tinymce th a,
    .wp-block-freeform.block-library-rich-text__tinymce table td a,
    .wp-block-freeform.block-library-rich-text__tinymce td a {
      font-weight: 500;
      color: var(--main-color); }
      .wp-block-freeform.block-library-rich-text__tinymce table a:hover,
      .wp-block-freeform.block-library-rich-text__tinymce th a:hover,
      .wp-block-freeform.block-library-rich-text__tinymce table td a:hover,
      .wp-block-freeform.block-library-rich-text__tinymce td a:hover {
        color: var(--grey-color); }
  .wp-block-freeform.block-library-rich-text__tinymce th {
    font-weight: bold;
    color: var(--dark-color);
    padding: 8px 14px; }
  .wp-block-freeform.block-library-rich-text__tinymce td {
    font-size: 16px;
    color: var(--grey-color);
    padding: 8px 14px; }
  .wp-block-freeform.block-library-rich-text__tinymce table tr:nth-child(2n) td {
    background: #fafafa; }
  .wp-block-freeform.block-library-rich-text__tinymce dl {
    line-height: 1.4;
    margin-bottom: 3px; }
  .wp-block-freeform.block-library-rich-text__tinymce dt {
    font-weight: 600;
    font-size: 16px;
    color: var(--dark-color);
    line-height: 23px; }
  .wp-block-freeform.block-library-rich-text__tinymce dd {
    margin: 0 0 15px;
    color: var(--grey-color);
    font-size: 16px;
    line-height: 23px; }
  .wp-block-freeform.block-library-rich-text__tinymce .wp-caption-dd {
    font-size: 16px;
    line-height: 1.2;
    color: var(--grey-color);
    font-weight: 400;
    margin-top: 6px;
    text-align: center; }
  .wp-block-freeform.block-library-rich-text__tinymce address {
    display: block;
    font-style: italic;
    margin: 0 0 20px;
    color: var(--grey-color);
    font-size: 16px; }
  .wp-block-freeform.block-library-rich-text__tinymce abbr,
  .wp-block-freeform.block-library-rich-text__tinymce acronym {
    border-bottom: 1px dotted #d1d1d1;
    cursor: help; }
  .wp-block-freeform.block-library-rich-text__tinymce code {
    background-color: #f5f5f5;
    font-family: Hack, Courier, monospace !important;
    font-size: 14px;
    line-height: 19px;
    white-space: pre-wrap;
    margin: 10px auto;
    display: inline-block;
    padding: 2px 5px;
    color: var(--grey-color); }
  .wp-block-freeform.block-library-rich-text__tinymce mark,
  .wp-block-freeform.block-library-rich-text__tinymce ins {
    background: #fff;
    color: var(--grey-color); }
  .wp-block-freeform.block-library-rich-text__tinymce kbd {
    font-weight: 100;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    padding: 0;
    background: transparent;
    color: var(--grey-color); }
  .wp-block-freeform.block-library-rich-text__tinymce var {
    font-family: Hack, Courier, monospace !important;
    font-style: normal;
    font-size: 14px; }
  .wp-block-freeform.block-library-rich-text__tinymce p {
    color: var(--grey-color);
    line-height: 1.7;
    margin-bottom: 20px; }
  .wp-block-freeform.block-library-rich-text__tinymce b,
  .wp-block-freeform.block-library-rich-text__tinymce strong {
    color: var(--dark-color);
    font-weight: 700; }
  .wp-block-freeform.block-library-rich-text__tinymce ol ol ul,
  .wp-block-freeform.block-library-rich-text__tinymce ol ul ul,
  .wp-block-freeform.block-library-rich-text__tinymce ul ol ul,
  .wp-block-freeform.block-library-rich-text__tinymce ul ul ul {
    list-style-type: circle; }
  .wp-block-freeform.block-library-rich-text__tinymce ol,
  .wp-block-freeform.block-library-rich-text__tinymce ul {
    margin-left: 0;
    color: var(--grey-color);
    line-height: 2;
    padding: 0 0 0 35px;
    margin-bottom: 30px;
    font-size: 16px; }
    .wp-block-freeform.block-library-rich-text__tinymce ol ol,
    .wp-block-freeform.block-library-rich-text__tinymce ol ul,
    .wp-block-freeform.block-library-rich-text__tinymce ul ol,
    .wp-block-freeform.block-library-rich-text__tinymce ul ul {
      margin-bottom: 0; }
  .wp-block-freeform.block-library-rich-text__tinymce ol li {
    padding-left: 5px; }
  .wp-block-freeform.block-library-rich-text__tinymce tt {
    font-family: Hack, Courier, monospace !important;
    font-size: 14px;
    padding: 0;
    line-height: 19px;
    white-space: pre-wrap;
    background-color: transparent;
    color: var(--grey-color); }
  .wp-block-freeform.block-library-rich-text__tinymce figcaption {
    font-size: 13px;
    line-height: 2;
    color: var(--grey-color);
    font-weight: normal;
    font-style: italic;
    margin-top: 16px;
    text-align: center; }
  .wp-block-freeform.block-library-rich-text__tinymce blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic; }
    .wp-block-freeform.block-library-rich-text__tinymce blockquote p, .wp-block-freeform.block-library-rich-text__tinymce blockquote {
      font-size: 24px;
      line-height: 1.5;
      color: var(--grey-color);
      font-weight: 300; }
    .wp-block-freeform.block-library-rich-text__tinymce blockquote p {
      margin-bottom: 0; }
  .wp-block-freeform.block-library-rich-text__tinymce .alignleft {
    float: left;
    margin: 0.375em 1.75em 1.75em 0 !important; }
  .wp-block-freeform.block-library-rich-text__tinymce .alignright {
    float: right;
    margin: 0.375em 0 1.75em 1.75em !important; }
  .wp-block-freeform.block-library-rich-text__tinymce .aligncenter,
  .wp-block-freeform.block-library-rich-text__tinymce div.aligncenter {
    display: block;
    margin: 5px auto 5px auto !important; }
  .wp-block-freeform.block-library-rich-text__tinymce cite {
    margin-top: 30px; }
    .wp-block-freeform.block-library-rich-text__tinymce cite a {
      color: inherit !important;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.56px;
      font-style: normal;
      text-transform: uppercase; }
      .wp-block-freeform.block-library-rich-text__tinymce cite a:hover {
        color: var(--dark-color) !important; }
  .wp-block-freeform.block-library-rich-text__tinymce code, .wp-block-freeform.block-library-rich-text__tinymce kbd, .wp-block-freeform.block-library-rich-text__tinymce pre, .wp-block-freeform.block-library-rich-text__tinymce samp {
    font-family: Hack, Courier, monospace !important;
    font-size: 14px; }
  .wp-block-freeform.block-library-rich-text__tinymce q {
    font-style: italic; }
  .wp-block-freeform.block-library-rich-text__tinymce pre {
    background-color: #fff;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px;
    border: 1px solid #e5e5e5;
    font-family: Hack, Courier, monospace;
    font-size: 14px;
    line-height: 19px;
    white-space: pre-wrap;
    color: var(--grey-color); }
    .wp-block-freeform.block-library-rich-text__tinymce pre * {
      margin: 0; }
    .wp-block-freeform.block-library-rich-text__tinymce pre cite {
      text-transform: none;
      font-style: italic;
      color: inherit;
      font-family: Hack, Courier, monospace !important; }
  .wp-block-freeform.block-library-rich-text__tinymce figure {
    max-width: 100%; }
    .wp-block-freeform.block-library-rich-text__tinymce figure.alignleft {
      margin: 0.375em 1.75em 1.75em 0; }
    .wp-block-freeform.block-library-rich-text__tinymce figure.alignright {
      margin: 0.375em 0 1.75em 1.75em; }

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
  font-size: 30px; }

.wp-block-gallery {
  padding-left: 0 !important; }

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-caption {
  font-size: 16px;
  line-height: 1.2;
  color: var(--grey-color);
  font-weight: 400;
  margin-top: 6px;
  text-align: center; }

@media only screen and (max-width: 768px) {
  .wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h1,
  .editor-styles-wrapper .wp-block-heading h1 {
    font-size: 32px; }
  .wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h2,
  .editor-styles-wrapper .wp-block-heading h2 {
    font-size: 28px; }
  .wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h3,
  .editor-styles-wrapper .wp-block-heading h3 {
    font-size: 25px; }
  .wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h4,
  .editor-styles-wrapper .wp-block-heading h4 {
    font-size: 22px; }
  .wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h5,
  .editor-styles-wrapper .wp-block-heading h5 {
    font-size: 17px; }
  .wp-block-freeform.block-library-rich-text__tinymce .wp-block-heading h6,
  .editor-styles-wrapper .wp-block-heading h6 {
    font-size: 13px; } }
@media only screen and (max-width: 767px) {
  .edit-post-visual-editor .editor-post-title .editor-post-title__input {
    font-size: 28px; } }
@media only screen and (max-width: 599px) {
  .edit-post-visual-editor .editor-post-title {
    padding: 0; } }

/*# sourceMappingURL=gutenberg-editor-style.css.map */
