//GUTENBERG STYLES

.block-editor__container .editor-styles-wrapper {
	--light-color: #fff;
	--dark-color: #262626;
	--grey-color: #777;
	--main-color: #ff5e14;
	--light-grey-color: #f7f7f7;
	line-height: normal;
	--font1: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--dark-color);
	position: relative;
	background: var(--light-grey-color);
	letter-spacing: 0.5px;
	*:not(.mce-ico) {
		font-family: var(--font1);
		-webkit-font-smoothing: antialiased;
	}
}

.editor-writing-flow > div > div {
	max-width: calc(100% - 30px);
	width: 1218px;
}

@media (min-width: 576px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 748px;
	}
}

@media (min-width: 992px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 988px;
	}
}

@media (min-width: 1200px) {
	.wp-block,
	.wp-block[data-align=wide] {
		max-width: 1168px;
	}
}

.editor-block-list__layout .editor-block-list__block[data-align=full] {
	margin-right: auto;
	margin-left: auto;
}

.editor-block-list__layout .editor-block-list__block[data-align=full] {
	max-width: calc(100% - 30px);
}

@media (min-width: 576px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.editor-block-list__layout .editor-block-list__block[data-align=full] {
		max-width: 1140px;
	}
}

.editor-block-list__block[data-type="core/button"][data-align=center] {
	clear: both;
}

.wp-block-button__link {
	color: inherit !important;
	font-weight: 500;
	font-size: 16px;
}

.editor-writing-flow > div > div {
	background: var(--light-color);
	padding: 30px 30px 20px;
	margin-right: auto;
	margin-left: auto;
	@media only screen and (max-width: 767px) {
		padding: 20px 30px;
		max-width: 100%;
	}
}

.editor-post-title,
.editor-block-list__layout {
	padding: 0;
}

.edit-post-visual-editor {
	.editor-post-title {
		word-break: break-word;
		margin-top: 0;
		margin-bottom: 20px;
		.editor-post-title__input {
			color: var(--dark-color);
			font-size: 50px;
			line-height: 60px;
			font-weight: 500;
			-ms-word-wrap: break-word;
			word-wrap: break-word;
			padding: 15px 14px;
			@media only screen and (max-width: 769px) {
				font-size: 40px;
				line-height: 50px;
			}
			@media only screen and (max-width: 425px) {
				font-size: 28px;
				line-height: 36px;
			}
		}
	}
}

.editor-styles-wrapper {

	.wp-block-gallery {
		.blocks-gallery-image,
		.blocks-gallery-item {
			figcaption {
				font-size: 13px;
				line-height: 2;
				margin-top: 16px;
				text-align: center;
				font-weight: 400;
			}
		}
	}
	.wp-block-pullquote {
		padding: 0;
		border: 0;
		border-color: #555d66;
		color: var(--grey-color);
		blockquote {
			text-align: center;
			border: 1px solid #e5e5e5;
			border-left: 3px solid;
			border-left-color: inherit;
			padding: 20px !important;
			margin-right: auto;
			margin-left: auto;
			&.has-text-color * {
				color: inherit !important;
			}
		}
		&.is-style-solid-color {
			blockquote {
				background: inherit;
				border: none;
				&.has-text-color {
					* {
						color: inherit !important;
					}
				}
			}
		}
	}
	blockquote {
		margin: 20px auto;
	}
	.wp-block p:not(.wp-block-cover-text) {
		color: var(--grey-color);
		line-height: 1.8;
		padding-left: 0;
		margin: 30px 0;
		font-size: 16px;
		&.has-background {
			padding: 20px 30px;
		}
		@media only screen and (max-width: 769px) {
			margin: 20px 0;
		}
	}
	.wp-block-cover__inner-container{
		width: calc(100% - 30px);
		p{
			color: var(--light-color)!important;
			font-size: 32px!important;
			line-height: 1.25!important;
			z-index: 1;
			margin-bottom: 0;
			text-align: center;
			a{
				font-weight: 500;
				text-decoration: none;
				color: var(--light-color);
			}
		}
	}
	.wp-block ul {
		list-style: circle;
	}
	.wp-block ol,
	.wp-block ul {
		padding: 0 0 0 35px;
		margin-bottom: 30px;
		li {
			line-height: 2;
			font-size: 16px;
			letter-spacing: 0.5px;
		}
		ol, ul {
			margin-bottom: 0;
		}
		a {
			color: var(--main-color);
			font-weight: 500;
			text-decoration: none;
			-webkit-transition: all 250ms ease;
			-moz-transition: all 250ms ease;
			-ms-transition: all 250ms ease;
			-o-transition: all 250ms ease;
			transition: all 250ms ease;
			&:hover {
				color: var(--grey-color);
			}
		}
	}
	.wp-block-latest-posts {
		padding-left: 0!important;
		li {
			list-style: none;
			margin-bottom: 20px;
			time {
				display: block;
				font-size: 13.5px;
				color: var(--dark-color);
				font-weight: 500;
				margin-top: 0;
			}
		}
		&.is-grid {
			align-items: baseline;
			margin-left: 0;
		}
	}
	.wp-block-latest-comments {
		padding-left: 0 !important;
		p{
			margin: 10px 0!important;
		}
		li {
			padding-left: 0;
			margin-bottom: 20px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		&__comment {
			line-height: 1.6 !important;
		}
		&__comment-meta {
			font-size: 16px;
		}
		&__comment-date {
			display: block;
			font-size: 13.5px;
			color: var(--dark-color);
			font-weight: 500;
			margin-top: 11px;
		}
	}
	.wp-block-separator:not(.is-style-dots) {
		border: none;
		border-bottom: 2px solid #8f98a1;
		margin: 1.65em auto;
	}
	.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
		max-width: 100px;
		border: none;
		border-bottom: 2px solid #8f98a1;
		margin: 1.65em auto;
	}

	.wp-block select {
		vertical-align: middle;
		font-size: 16px;
		min-width: 100%;
		margin-bottom: 15px;
		border: none;
		background: var(--light-color);
		color: var(--grey-color);
		border: 0;
		outline: 1px solid #ddd !important;
		max-height: calc(1.2em + 17px);
		height: calc(1.2em + 17px);
		padding: 6px 10px 5px;
		-webkit-appearance: none;
		background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23dddddd'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
		background-size: 12px;
		background-position: calc(100% - 10px) 16px;
		background-repeat: no-repeat;
		max-width: 100%;
		&:focus {
			outline-offset: 0 !important;
		}
		@media only screen and (max-width: 767px) {
			margin-bottom: 10px;
		}
	}
	.wp-block ul,
	.wp-block ol {
		color: var(--grey-color);
		line-height: 1.6;
		margin-bottom: 20px;
		font-size: 17px;
		margin-left: 0;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote,
	.wp-block-quote {
		cite,
		.wp-block-quote__citation {
			text-transform: uppercase;
			font-size: 12px;
			font-style: normal;
			display: block;
			text-align: right;
			margin-top: 15px;
		}
	}
	.wp-block-shortcode textarea {
		color: var(--grey-color);
		line-height: 1.7;
		font-size: 15px;
	}
	.wp-block-image > div:first-of-type {
		line-height: 1;
	}
	.wp-block-embed figcaption,
	.wp-block-video figcaption,
	.wp-block-image figcaption {
		margin-top: .5em;
		margin-bottom: 1em;
		text-align: center;
		font-size: 13px;
		line-height: 23px;
		color: var(--grey-color);
		a {
			color: var(--main-color);
			text-decoration: none;
			font-weight: 500;
			&:hover {
				color: var(--grey-color);
			}
		}
	}
	strong, b {
		color: var(--dark-color);
		font-weight: 700;
	}
	p.wp-block-cover-text {
		line-height: 1.6;
		color: var(--light-color) !important;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 17px !important;
		letter-spacing: 2px;
		* {
			color: inherit !important;
		}
		a {
			text-decoration: none;
			font-weight: 700 !important;
			color: var(--light-color) !important;
			-webkit-transition: all 450ms ease;
			-moz-transition: all 450ms ease;
			-ms-transition: all 450ms ease;
			-o-transition: all 450ms ease;
			transition: all 450ms ease;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.wp-block-file__textlink {
		-webkit-transition: all 450ms ease;
		-moz-transition: all 450ms ease;
		-ms-transition: all 450ms ease;
		-o-transition: all 450ms ease;
		transition: all 450ms ease;
		&:hover {
			color: var(--grey-color);
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote,
	.wp-block .wp-block-quote {
		font-style: italic;
		font-weight: normal;
		padding: 20px!important;
		border: 1px solid #e5e5e5;
		border-left: 3px solid #ff5e14;
		margin: 20px 0!important;
		background: #fff;
		font-size: 16px;
		line-height: 1.43;
		a{
			font-weight: 500;
			color: var(--main-color);
			text-decoration: none;
			transition: all 250ms ease;
			&:hover{
				color: var(--grey-color);
			}
		}
		&.is-large,
		&.is-style-large{
			font-size: 24px;
			line-height: 1.6;
			.wp-block-quote__citation,
			cite{
				font-size: 16px;
			}
		}
		@media (max-width: 769px){
			margin: 15px 0;
			padding: 15px;
		}
		p{
			margin: 0;
			font-size: inherit!important;
			line-height: inherit!important;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote p,
	.wp-block .wp-block-pullquote div p {
		font-size: 28px;
		line-height: 1.6;
		font-style: italic;
		font-weight: 400;
		color: inherit !important;
		margin: 0;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
	.wp-block .wp-block-pullquote div .wp-block-pullquote__citation {
		color: var(--grey-color);
		text-align: center;
		margin-top: 15px;
		font-size: 12px;
		font-style: italic;
	}
	.wp-block-freeform.block-library-rich-text__tinymce blockquote cite{
		text-align: right;
		a{
			color: var(--main-color)!important;
			&:hover{
				color: var(--grey-color)!important;
			}
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce,
	.wp-block-heading {
		h1, h2, h3, h4, h5, h6 {
			color: var(--dark-color);
			margin: 30px 0;
			font-weight: 400;
			@media only screen and (max-width: 769px){
				margin: 20px 0;
			}
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h1,
	.wp-block-heading h1 {
		font-size: 30px;
		line-height: 36px;
		@media (max-width: 769px) {
			font-size: 26px;
			line-height: 32px;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h2,
	.wp-block-heading h2 {
		font-size: 28px;
		line-height: 34px;
		@media (max-width: 769px) {
			font-size: 24px;
			line-height: 30px;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h3,
	.wp-block-heading h3 {
		font-size: 26px;
		line-height: 32px;
		@media (max-width: 769px) {
			font-size: 22px;
			line-height: 28px;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h4,
	.wp-block-heading h4 {
		font-size: 24px;
		line-height: 30px;
		@media (max-width: 769px) {
			font-size: 20px;
			line-height: 26px;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h5,
	.wp-block-heading h5 {
		font-size: 22px;
		line-height: 28px;
		@media (max-width: 769px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.wp-block-freeform.block-library-rich-text__tinymce h6,
	.wp-block-heading h6 {
		font-size: 19px;
		line-height: 25px;
		@media (max-width: 768px) {
			font-size: 15px;
			line-height: 21px;
		}
	}
	.wp-block-file .wp-block-file__button {
		display: inline-block;
		color: var(--light-color);
		font-size: 13px;
		font-weight: 500 !important;
		padding: 3px 13px;
		line-height: 23px;
		&:hover,
		&:focus {
			color: var(--light-color) !important;
		}
	}
	.wp-block-file__textlink {
		font-weight: 500;
		font-size: 16px;
		color: var(--main-color);
		-webkit-transition: all 250ms ease;
		-moz-transition: all 250ms ease;
		-ms-transition: all 250ms ease;
		-o-transition: all 250ms ease;
		transition: all 250ms ease;
		&:hover {
			color: var(--grey-color);
		}
	}
	.wp-block-code {
		font-size: 15px;
		line-height: 1.6;
		max-width: 100%;
		overflow: auto;
		border: none;
		border-radius: 0;
		padding: 0;
		margin: 0 0 10px;
		textarea {
			background-color: #fff;
			margin-bottom: 20px;
			overflow: auto;
			padding: 20px;
			border: 1px solid #e5e5e5;
			font-family: Hack, Courier, monospace!important;
			font-size: 14px;
			color: var(--grey-color);
			line-height: 19px;
			white-space: pre-wrap;
			max-width: 100%;
		}
	}
	.wp-block-html textarea {
		border: none;
		padding: 0;
	}
	.wp-block pre {
		background-color: #fff;
		margin-bottom: 20px;
		overflow: auto;
		padding: 20px;
		border: 1px solid #e5e5e5;
		font-family: Hack, Courier, monospace!important;
		font-size: 14px;
		color: var(--grey-color);
		line-height: 19px;
		white-space: pre-wrap;
		max-width: 100%;
		&.wp-block-verse {
			white-space: nowrap;
		}
	}
	.wp-block-table {
		color: var(--grey-color);
		border-collapse: collapse;
		font-size: 17px;
		border-color: var(--dark-color) !important;
		&.is-style-stripes tr:nth-child(odd) {
			background: #f3f4f5;
		}
		&.is-style-stripes tr:nth-child(even) {
			background: #fafafa;
		}
		&.is-style-stripes th,
		&.is-style-stripes tr,
		&.is-style-stripes td,
		&.is-style-stripes{
			border: none;
		}
		th, td {
			padding: 8px 14px;
			border-collapse: collapse;
			font-size: 16px;
			line-height: 23px;
			border-color: #e5e5e5 !important;
			* {
				padding: 0;
			}
		}
		tr:nth-child(even) {
			background: #fafafa;
		}
	}
}

.block-editor ul.wp-block-archives,
.block-editor .wp-block-categories ul {
	padding-left: 1.5em;
}

.block-editor .wp-block-latest-posts.is-grid,
.block-editor .wp-block-latest-posts {
	padding-left: 0;
	li {
		padding-left: 0;
	}
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption a{
	display: inline-block;
}

.wp-block-freeform.block-library-rich-text__tinymce {
	font-size: 16px;
	a {
		color: var(--main-color);
		-webkit-transition: all 250ms ease;
		-moz-transition: all 250ms ease;
		-ms-transition: all 250ms ease;
		-o-transition: all 250ms ease;
		transition: all 250ms ease;
		text-decoration: none;
		font-weight: 500;
		font-size: inherit;
		&:hover {
			color: var(--grey-color);
		}
	}
	td a {
		font-weight: 500;
	}
	code {
		background-color: #d1d1d1;
		color: var(--dark-color);
		padding: 2px 4px;
		font-size: 90%;
		border-radius: 4px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 700;
		margin-top: 0.8em;
		margin-bottom: 0.8em;
		line-height: 1.375;
		clear: both;
		color: var(--dark-color);
	}
	h4,
	h5,
	h6 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	table {
		border-collapse: separate;
		border-spacing: 0;
		border-width: 1px 0 0 1px;
		margin: 0 0 30px;
		width: 100%;
		word-break: break-word;
		text-align: left;
	}
	dt {
		font-weight: 700;
	}
	table,
	th,
	table td,
	td {
		border: 1px solid #e5e5e5;
		border-collapse: collapse;
		line-height: 23px;
		a{
			font-weight: 500;
			color: var(--main-color);
			&:hover{
				color: var(--grey-color);
			}
		}
	}
	th {
		font-weight: bold;
		color: var(--dark-color);
		padding: 8px 14px;
	}
	td {
		font-size: 16px;
		color: var(--grey-color);
		padding: 8px 14px;
	}
	table tr:nth-child(2n) td{
		background: #fafafa;
	}
	dl {
		line-height: 1.4;
		margin-bottom: 3px;
	}
	dt {
		font-weight: 600;
		font-size: 16px;
		color: var(--dark-color);
		line-height: 23px;
	}

	dd {
		margin: 0 0 15px;
		color: var(--grey-color);
		font-size: 16px;
		line-height: 23px;
	}
	.wp-caption-dd {
		font-size: 16px;
		line-height: 1.2;
		color: var(--grey-color);
		font-weight: 400;
		margin-top: 6px;
		text-align: center;
	}

	address {
		display: block;
		font-style: italic;
		margin: 0 0 20px;
		color: var(--grey-color);
		font-size: 16px;
	}

	abbr,
	acronym {
		border-bottom: 1px dotted #d1d1d1;
		cursor: help;
	}

	code {
		background-color: #f5f5f5;
		font-family: Hack, Courier, monospace !important;
		font-size: 14px;
		line-height: 19px;
		white-space: pre-wrap;
		margin: 10px auto;
		display: inline-block;
		padding: 2px 5px;
		color: var(--grey-color);
	}
	mark,
	ins {
		background: #fff;
		color: var(--grey-color);
	}

	kbd {
		font-weight: 100;
		-webkit-box-shadow: none;
		box-shadow: none;
		font-size: 14px;
		padding: 0;
		background: transparent;
		color: var(--grey-color);
	}

	var {
		font-family: Hack, Courier, monospace !important;
		font-style: normal;
		font-size: 14px;
	}

	p {
		color: var(--grey-color);
		line-height: 1.7;
		margin-bottom: 20px;
	}

	b,
	strong {
		color: var(--dark-color);
		font-weight: 700;
	}
	ol ol ul,
	ol ul ul,
	ul ol ul,
	ul ul ul {
		list-style-type: circle;
	}
	ol,
	ul {
		margin-left: 0;
		color: var(--grey-color);
		line-height: 2;
		padding: 0 0 0 35px;
		margin-bottom: 30px;
		font-size: 16px;

		ol,
		ul {
			margin-bottom: 0;
		}
	}

	ol {
		li {
			padding-left: 5px;
		}
	}

	tt {
		font-family: Hack, Courier, monospace !important;
		font-size: 14px;
		padding: 0;
		line-height: 19px;
		white-space: pre-wrap;
		background-color: transparent;
		color: var(--grey-color);
	}

	figcaption {
		font-size: 13px;
		line-height: 2;
		color: var(--grey-color);
		font-weight: normal;
		font-style: italic;
		margin-top: 16px;
		text-align: center;
	}

	blockquote {
		margin-top: 30px;
		margin-bottom: 30px;
		font-style: italic;
		p,
		& {
			font-size: 24px;
			line-height: 1.5;
			color: var(--grey-color);
			font-weight: 300;
		}

		p {
			margin-bottom: 0;
		}
	}
	.alignleft {
		float: left;
		margin: 0.375em 1.75em 1.75em 0 !important;
	}

	.alignright {
		float: right;
		margin: 0.375em 0 1.75em 1.75em !important;
	}

	.aligncenter,
	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto!important;
	}
	cite {
		margin-top: 30px;
		a {
			color: inherit !important;
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 1.56px;
			font-style: normal;
			text-transform: uppercase;
			&:hover {
				color: var(--dark-color) !important;
			}
		}
	}
	code, kbd, pre, samp {
		font-family: Hack, Courier, monospace!important;
		font-size: 14px;
	}
	q{
		font-style: italic;
	}
	pre {
		background-color: #fff;
		margin-bottom: 20px;
		overflow: auto;
		padding: 20px;
		border: 1px solid #e5e5e5;
		font-family: Hack, Courier, monospace;
		font-size: 14px;
		line-height: 19px;
		white-space: pre-wrap;
		color: var(--grey-color);
		* {
			margin: 0;
		}
		cite {
			text-transform: none;
			font-style: italic;
			color: inherit;
			font-family: Hack, Courier, monospace!important;
		}
	}
	figure {
		max-width: 100%;
		&.alignleft {
			margin: 0.375em 1.75em 1.75em 0;
		}

		&.alignright {
			margin: 0.375em 0 1.75em 1.75em;
		}
	}
}

.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2,
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2 {
	font-size: 30px;
}

.wp-block-gallery{
	padding-left: 0!important;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-caption {
	font-size: 16px;
	line-height: 1.2;
	color: var(--grey-color);
	font-weight: 400;
	margin-top: 6px;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.wp-block-freeform.block-library-rich-text__tinymce,
	.editor-styles-wrapper {
		.wp-block-heading h1 {
			font-size: 32px;
		}
		.wp-block-heading h2 {
			font-size: 28px;
		}
		.wp-block-heading h3 {
			font-size: 25px;
		}
		.wp-block-heading h4 {
			font-size: 22px;
		}
		.wp-block-heading h5 {
			font-size: 17px;
		}
		.wp-block-heading h6 {
			font-size: 13px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.edit-post-visual-editor .editor-post-title .editor-post-title__input {
		font-size: 28px;
	}
}

@media only screen and (max-width: 599px) {
	.edit-post-visual-editor {
		.editor-post-title {
			padding: 0;
		}
	}
}